.thumbnails {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* this broke my thumbnails, even though one website said the opposite.
width: 10px;
  margin: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
/* grid-auto-rows: minmax (300px, 1fr); */

.bigDisplay {
  margin: 1 em 2 em;
  display: block;
  flex-wrap: flex;
  max-inline-size: 100%;
}

.button {
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  margin: 10px auto;
}

/* this is also incomplete, a lot of what I tried made things worse and I left it in to show that even though it was incomplete, I was trying. */
/* @media screen and (width>=30em) and (orientation: landscape); */
